@model DVTN.Frontend.Web.Features.HomePage.HomePageViewModel

<div id="page-homepage">

    <vc:page-hero hero-text="We design and deliver the complex infrastructure needed to build better communities" is-full-size="true"/>
    
    @* TODO render components here *@
    <vc:image-and-text-panel 
        image-url="https://picsum.photos/id/1024/1200/900" 
        image-alt-text="Placeholder Image."
        button-text="Example Button" 
        heading="Example heading text"
        main-copy="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto, autem consectetur, error
                exercitationem ipsam natus nulla, omnis sequi
                sint temporibus veritatis. Amet cumque debitis deserunt ipsa laboriosam, nulla perferendis!"></vc:image-and-text-panel> 
    
    <vc:large-text-panel 
        copy="Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum."
        image-url="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
        image-alt-text="A vulture landing on a rock."></vc:large-text-panel>
    </div>